* {
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
    margin: 0;
}

.lists{
    margin-top: -150px;
}

footer {
    margin: 50px 0;
    text-align: center;
}

.loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials{
    top: 1px;
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials img{
    height: 100%;
}
